@charset "ISO-8859-1";
@import url('https://fonts.googleapis.com/css?family=Nunito+Sans&display=swap');
*{margin:0;padding:0;font-family: 'Nunito Sans', sans-serif;color:black;}

:root{
	--main-bg-primary:#ffffff;
	--bg-color-1:#523A34;
	--bg-color-2:#CFF27E;
	--bg-color-3:#F2DD6E;
	--bg-color-4:#E5B25D;
	--bg-color-5:#B87D4B;
}

.container {
  display: grid;
  grid-template-rows: 10% 80% 10%;
  background:var(--main-bg-primary);
  grid-gap:10px;
  height:-webkit-fill-available;
}

.header,.footer{
	align:center;
	color:white;
	background:var(--bg-color-1);
	padding:1.5rem;
}

.main{
	display:grid;
	grid-template-columns:2fr 2fr;
	grid-template-rows:2fr 2fr ;
	grid-gap:10px;
	
}

.main>div{
	display: flex;
	flex-direction:column;
	justify-content:center;
	align-items:center;
    box-sizing: border-box;
    border-radius: 1.5rem;
    padding:1rem;
    
}

.first-row{
	
	background:var(--bg-color-2);
}
.second-row{
	
	background:var(--bg-color-3);
}
.third-row{
	background:var(--bg-color-4);
}
.fourth-row{
	background:var(--bg-color-5);
}

button{
	height:1.5rem;
	width:10rem;
	color:black;
}

.output{
	box-sizing:border-box;
	border:2px crimson;
	padding: 1.5rem;
	width: -webkit-fill-available;
    align-self:center;
    font-weight:100;
   }

#contact,#contact1,#contact2,#contact3 { 
  -webkit-user-select: none; /* Chrome/Safari */        
  -moz-user-select: none; /* Firefox */
  -ms-user-select: none; /* IE10+ */
  margin: 4em auto;
  width: 200px; 
  height: 30px; 
  line-height: 30px;
  background: teal;
  color: white;
  font-weight: 700;
  text-align: center;
  cursor: pointer;
  border: 1px solid white;
}

#contact:hover { background: #666; }
#contact:active { background: #444; }
#contact1:hover { background: #666; }
#contact1:active { background: #444; }
#contact2:hover { background: #666; }
#contact2:active { background: #444; }
#contact3:hover { background: #666; }
#contact3:active { background: #444; }

#contactForm,#contactForm1,#contactForm2,#contactForm3{ 
  display: none;
  border: 6px solid salmon; 
  padding: 2em;
  width: 400px;
  text-align: center;
  background: #fff;
  position: fixed;
  top:50%;
  left:50%;
  transform: translate(-50%,-50%);
  -webkit-transform: translate(-50%,-50%)
  
}

input, textarea { 
  margin: .8em auto;
  font-family: inherit; 
  text-transform: inherit; 
  font-size: inherit;
  
  display: block; 
  width: 280px; 
  padding: .4em;
}
textarea { height: 80px; resize: none; }
form input[type="radio"] {
    clear: none;
    width: auto;
    display: inline-block;
}

label {
  display: inline-block;
}
.formBtn { 
  width: 140px;
  display: inline-block;
  background: teal;
  color: #fff;
  font-weight: 100;
  font-size: 1.2em;
  border: none;
  height: 30px;
}

